<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DharmaAI</title>
    <!-- Favicon Set-Up -->
    <script src="/static/script.js" defer></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/favicon/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/favicon/favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      href="/static/images/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/static/images/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#1e1e2f" />
    <meta
      name="msapplication-TileImage"
      content="/static/images/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#3a3a5e" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <!-- Info Button -->
        <button class="info-button" id="infoButton">
          <i class="fas fa-info"></i>
        </button>

        <div class="logo-container">
          <img
            src="/static/images/dharma_aa.png"
            alt="Appendicitis Prediction Tool Logo"
            class="logo"
          />
        </div>

        <!-- Divider Line -->
        <div class="logo-divider"></div>
        <!-- Input Form -->
        <form id="prediction-form">
          <div class="form-group">
            <label for="Nausea">Nausea</label>
            <select class="form-control" id="Nausea" required>
              <option value="0">Select option</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>

          <div class="form-group">
            <label for="Loss_of_Appetite">Loss of Appetite</label>
            <select class="form-control" id="Loss_of_Appetite" required>
              <option value="0">Select option</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Peritonitis">Peritonitis</label>
            <select class="form-control" id="Peritonitis" required>
              <option value="0">Select option</option>
              <option value="0">No</option>
              <option value="1">Local</option>
              <option value="2">Generalized</option>
            </select>
          </div>
          <div class="form-group">
            <label for="WBC_Count"
              >WBC Count × 10<sup>3</sup> (<span class="no-capitalize"
                >per μL</span
              >)</label
            >
            <input
              type="number"
              step="any"
              value="10.0"
              class="form-control"
              id="WBC_Count"
              onfocus="clearDefaultValue(this)"
              required
            />
          </div>
          <div class="form-group">
            <label for="Body_Temperature">Body Temperature (°C)</label>
            <input
              type="number"
              step="any"
              value="38.0"
              class="form-control"
              id="Body_Temperature"
              onfocus="clearDefaultValue(this)"
              required
            />
          </div>
          <div class="form-group">
            <label for="Neutrophil_Percentage">Neutrophil Percentage (%)</label>
            <input
              type="number"
              value="75.0"
              step="any"
              class="form-control"
              id="Neutrophil_Percentage"
              onfocus="clearDefaultValue(this)"
              required
            />
          </div>
          <div class="form-group">
            <label for="CRP"
              >CRP (<span class="no-capitalize">mg/L</span>)</label
            >
            <input
              type="number"
              step="any"
              value="15.0"
              class="form-control"
              id="CRP"
              onfocus="clearDefaultValue(this)"
              required
            />
          </div>
          <div class="form-group">
            <label for="Ketones_in_Urine">Ketones in Urine</label>
            <select class="form-control" id="Ketones_in_Urine" required>
              <option value="0">Select option</option>
              <option value="0">No</option>
              <option value="0">Trace</option>
              <option value="1">+</option>
              <option value="2">++</option>
              <option value="3">+++</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Appendix_Diameter">Appendix Diameter (mm)</label>
            <input
              type="number"
              step="any"
              value="6.0"
              class="form-control"
              id="Appendix_Diameter"
              onfocus="clearDefaultValue(this)"
              required
            />
          </div>
          <div class="form-group">
            <label for="Free_Fluids">Free Fluids</label>
            <select class="form-control" id="Free_Fluids" required>
              <option value="0">Select option</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
          <button
            type="submit"
            name="action"
            value="predict"
            class="btn-primary"
          >
            Get Prediction
          </button>
          <button
            type="submit"
            name="action"
            value="explaination"
            class="btn-secondary hidden"
            id="explainButton"
          >
            Explaination
          </button>
        </form>
        <div id="result"></div>
      </div>

      <!-- Documentation Modal -->
      <div id="docModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close-modal">&times;</span>
            <h2>Dharma: Appendicitis Model</h2>
          </div>
          <div class="modal-body">
            <!-- Section buttons -->
            <div class="section-buttons">
              <button class="section-btn active" data-section="about">
                About
              </button>
              <button class="section-btn" data-section="evidence">
                Evidence
              </button>
              <button class="section-btn" data-section="creator">
                Creator
              </button>
            </div>
            <div id="about" class="section-content">
              <p>
                Dharma is a novel, interpretable machine learning based clinical
                decision support system, designed to address the diagnostic and
                prognostic challenges of pediatric appendicitis by integrating
                easily obtainable clinical, laboratory, and radiological data
                into a unified, real-time predictive framework.
              </p>

              <p>
                Note: Input 0 if the value is not available or not applicable.
              </p>
              <p>
                <strong>To be used by healthcare professionals only.</strong>
              </p>
            </div>

            <div id="evidence" class="section-content" style="display: none">
              <p>
                LITERATURE: doi:
                <a
                  href="https://doi.org/10.1101/2025.05.27.25328468"
                  target="_blank"
                  >10.1101/2025.05.27.25328468</a
                ><br />
                EXPLORE Dharma:
                <a
                  href="https://github.com/ajung17/Dharma-AppendicitisModel"
                  target="_blank"
                  >GitHub Repository Link</a
                >
              </p>

              <p>
                PERFORMANCE METRICS:<br />
                <strong>Threshold: 64%</strong><br />
                AUC-ROC: 0.97-0.98 <br />
                Sensitivity: 89%-95% <br />
                Specificity: 88%-98% <br />
                Positive Predictive Value: 93%-99% <br />
                Negative Predictive Value: 86%-91% <br />
              </p>
              <p>
                <strong>If appendix not visualized or USG unavailable:</strong
                ><br />
                AUC-ROC: 0.95<br />
                <strong>Threshold: 47% | High Likelihood</strong><br />
                Specificity: 97% | PPV: 90%<br />
                <strong>Threshold: 37% | Probable</strong><br />
                Specificity: 92% | NPV: 93%<br />
                <strong>Threshold: 30% | Possible</strong><br />
                Sensitivity: 92%<br />
                <strong>Less than 30%: Low Likelihood</strong><br />
                NPV: 95%
              </p>
            </div>
            <div id="creator" class="section-content" style="display: none">
              <p>
                <strong>Conceptualized, Designed, and Developed by:</strong
                ><br />
                <strong>Dr. Anup Thapa, MBBS</strong>
                

                <a
                  href="https://www.instagram.com/anuryne__"
                  target="_blank"
                  class="icon-link instagram"
                >
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/anup-thapa-kshetri-23b19a211"
                  target="_blank"
                  class="icon-link linkedin"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <br />
                Founder: <strong>DharmaAI</strong>
                <br />
              </p>
              <p>
                Sincere gratitude to the team of DharmaAI and my dear friends:
              </p>
              <p>
                <strong>Er. Subash Pahari</strong>:
                <strong>Web-app Development and Deployment</strong>

                <a
                  href="https://www.instagram.com/subash_pahari"
                  target="_blank"
                  class="icon-link instagram"
                >
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/subash-pahari-9a4862211"
                  target="_blank"
                  class="icon-link linkedin"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <br />
                Thank you for introducing me to the wonders of coding and AI,
                and for your invaluable mentorship and support.<br />
                You are not just a great friend, but also a guiding force in
                this project.<br />
              </p>
              <p>
                <strong>Mr. Amrit Neupane</strong>:
                <strong>Logo Design | UI/UX Design</strong>

                <a
                  href="https://www.instagram.com/_neupane_"
                  target="_blank"
                  class="icon-link instagram"
                >
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/amrit-neupane-9b248b317"
                  target="_blank"
                  class="icon-link linkedin"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Explanation Modal -->
      <div id="explainModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close-modal">×</span>
            <h2>Prediction Explanation</h2>
          </div>
          <div class="modal-body" id="explainResult"></div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.2/jspdf.plugin.autotable.min.js"></script>
  </body>
</html>
